:root {
  --primary--color: rgba(234,84,85,1);
}

.d-content-sidebar {
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .d-sidebar {
    max-width: 260px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
    transition: all .25s ease;

    .scroll-area {
      height: 100vh;
      overflow-y: scroll;
    }

    .ps {
      touch-action: auto;
    }

    .navigator-header {
      font-size: .9rem;
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      color: #999;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: .5rem;
      margin-bottom: .2rem;
    }

    .truncate {
      overflow: hidden!important;
      text-overflow: ellipsis!important;
      white-space: nowrap!important;
    }

    .d-sidebar--item {
      padding: 0 15px;
      -webkit-transition: none;
      overflow: visible !important;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;

      a {
        -webkit-transition: none;
        border-radius: 4px;
        padding: 10px 15px;
        font-size: 1rem;
        transition: none;
        opacity: unset;
        color: #626262;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-decoration: none;
      }

      .router-link-active {
        background: linear-gradient(118deg,rgba(var(--primary--color),1),rgba(var(--primary--color),.7));
        box-shadow: 0 0 10px 1px rgba(var(--primary--color),.7);
      }
    }
  }
}

.content-area-reduced {
  margin-left: 260px;
  transition: margin-left .5s;
  height: 100%;
}

.content-area-full {
  margin-left: 0;
}

.content-overlay {
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
  -webkit-transition: opacity .7s;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .7s;
  z-index: -1;
}
