@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@variants hover, focus {
  .scale-110 {
    transform: scale(1.01);
    transition: transform .25s ease;
  }
}

.transition-expand {
  transition: max-height 0.2s ease-in-out;
}

.navl:hover .navl-hover\:max-h-fit {
  max-height: fit-content;
}
